{% include 'blog/header.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

<br>
<br>
<br>
<br>
<hr>

<div class="container">
    <div class="row">

        <!-- Card Pertama -->
        <div class="col">
            <div class="card text-center col-md-6">
                <div class="card-header" style=" border-bottom: 1px solid #d7d8d9; ">
                    <div class="card-header border"
                        style=" border: 0px solid #d7d8d9; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #c5c6c7;">
                        Featured
                    </div>
                </div>
                <div class=" card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <img src="/media/post_images/index.jpg" class="img-fluid" alt="Responsive image">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer" style=" border-top: 0px solid #d7d8d9; margin-top: 10px;">
                    <div class="card-footer text-muted"
                        style=" border: 0px solid #d7d8d9; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: #c5c6c7;">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>

        <!-- Card Kedua -->
        <div class="col">
            <div class="card text-center col-md-6">
                <div class="card-header" style="border-bottom: 1px solid #d7d8d9; ">
                    <div class="card-header border"
                        style=" border: 0px solid #d7d8d9; border-top-left-radius: 10px; border-top-right-radius: 10px; background-color: #c5c6c7;">
                        Featured
                    </div>
                </div>
                <div class=" card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <div>
                        <img src="/media/post_images/React.js_logo-512.png" class="rounded mx-auto d-block" alt="..."
                            style="height: 275px;">
                    </div>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer" style=" border-top: 0px solid #d7d8d9; margin-top: 10px;">
                    <div class="card-footer text-muted"
                        style=" border: 0px solid #d7d8d9; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color: #c5c6c7;">
                        2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>